# Virtuelle Umgebung (venv)
Include/
Lib/
Scripts/
share/
pyvenv.cfg

# VS Code
.vscode/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Python Bytecode (allgemein sinnvoll)
__pycache__/
*.py[cod]